<div class="d-flex m-5">

  <div class="row d-flex justify-content-center align-items-center col-5">
    <div>
      <mat-card
        class="d-flex flex-column justify-content-center align-items-center gap-4 "
      >
        <h1 class="text-center fs-1 p-3">App</h1>

        <div class="text-center p-3">
          <h1>Misión:</h1>
          <p>
            texto here
          </p>
          <h1>Visión:</h1>

          <p>
            texto here
          </p>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="col-7 d-flex justify-content-center align-items-center mt-3">
    <img
      class="home"
      src="./../../../assets/images/home.jpg"
      alt="Home image"
    />
  </div>

</div>
