<div class="d-flex m-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div>
      <mat-card
        class="d-flex flex-column justify-content-center align-items-center gap-4 mt-5 p-5"
      >
        <h1 class="text-center fs-1 p-3">UsuariosApp</h1>

        <div class="text-center p-3">
          <h1>Misión:</h1>
          <p>
            Facilitar la gestión eficiente de usuarios y máquinas a través de
            soluciones tecnológicas innovadoras, garantizando la seguridad, la
            accesibilidad y la optimización de recursos. Nos comprometemos a
            ofrecer servicios de excelencia que potencien la productividad y la
            colaboración, asegurando la satisfacción de nuestros clientes y
            contribuyendo al desarrollo sostenible de sus operaciones.
          </p>
          <h1>Visión:</h1>

          <p>
            Ser reconocidos como líderes en la gestión integral de usuarios y
            máquinas, impulsando la transformación digital de organizaciones en
            todo el mundo. Buscamos constantemente innovar y evolucionar
            nuestras soluciones para anticipar las necesidades cambiantes del
            entorno empresarial, estableciendo estándares de excelencia y siendo
            un referente en la creación de experiencias seguras y eficientes
            para nuestros clientes. Nuestra visión es ser el socio estratégico
            preferido en el ámbito de la gestión tecnológica, contribuyendo al
            éxito continuo de nuestros clientes y al desarrollo sostenible de la
            sociedad.
          </p>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="col-6 d-flex justify-content-center align-items-center mt-3">
    <img
      class="home"
      src="./../../../assets/images/home.jpg"
      alt="Home image"
    />
  </div>
</div>
