<div class="container d-flex justify-content-center mt-5">
  <mat-card class="col-6">
    <mat-card-title>
      <h1 class="text-center fs-1 p-2">Registro Usuario</h1></mat-card-title
    >
    <form [formGroup]="formRegister" (ngSubmit)="registrarUsuario()" >
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Username</span>
        <input
          id="username"
          name="username"
          formControlName="username"
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <div
        class="text-danger"
        *ngIf="formRegister.controls['username']
      .touched && formRegister.get('username')?.errors?.['required'] "
      >
        El username es requerido
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input
          id="password"
          name="password"
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Password"
          aria-label="Password"
          aria-describedby="basic-addon1"
        />
      </div>

      <div
        class="text-danger"
        *ngIf="formRegister.controls['password']
      .touched && formRegister.get('password')?.errors?.['required'] "
      >
        El password es requerido
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input
          id="nombre"
          name="nombre"
          formControlName="nombre"
          type="text"
          class="form-control"
          placeholder="Nombres"
          aria-label="Nombres"
          aria-describedby="basic-addon1"
        />
      </div>
      <div
        class="text-danger"
        *ngIf="formRegister.controls['nombre']
      .touched && formRegister.get('nombre')?.errors?.['required'] "
      >
        El nombre es requerido
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Apellidos</span>
        <input
          id="apellido"
          name="apellido"
          formControlName="apellido"
          type="text"
          class="form-control"
          placeholder="Apellidos"
          aria-label="Apellidos"
          aria-describedby="basic-addon1"
        />
      </div>
      <div
        class="text-danger"
        *ngIf="formRegister.controls['apellido']
      .touched && formRegister.get('apellido')?.errors?.['required'] "
      >
        El apellido es requerido
      </div>


      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Rol:</span>
        <select
          id="rol"
          name="rol"
          formControlName="rol"
          class="form-select"
          aria-label="rol"
          aria-describedby="basic-addon1"
        >
          <option value="" disabled selected>Selecciona una opción</option>
          <option value="Admin" >Administrador</option>
          <option value="Cliente" >Cliente</option>
        </select>
      </div>
      <div class="text-danger" *ngIf="formRegister.controls['rol'].touched && formRegister.get('rol')?.errors?.['required']">
        Rol requerido
      </div>

      
      <div class="input-group mb-3 d-flex justify-content-center gap-3">
        <button
          [disabled]="formRegister.invalid"
          type="submit"
          class="btn btn-primary"
        >
          Registrar
        </button>
        <button routerLink="/login" type="button" class="btn btn-secondary">
          Volver
        </button>
      </div>
    </form>
  </mat-card>
</div>
