<p>
  <mat-toolbar  id="nav">
    <div class="container d-flex  justify-content-between ">
      
      <div class="">
        <span class="fs-1">App</span>
      </div>

      <div *ngIf="!login ; else ingreso" class="d-flex gap-3">
        <button routerLink="login" type="button" class="btn btn-light">
          Login
        </button>
      </div>

      <ng-template #ingreso>

        <div class="d-flex justify-content-between gap-3">
          <span class="mr-4">{{username | titlecase}}</span>
          <button (click)="logOut()" type="button" class="btn btn-danger ml-4">
            <i class="bi bi-box-arrow-right fw-bold"></i>
          </button>
        </div>


      </ng-template>
    
    </div>
  </mat-toolbar>
</p>
