<div class="container d-flex gap-3">
  <div class="col-2 mt-5">
      <app-menu-opciones></app-menu-opciones>
  </div>

  <div class="col-10 mt-5">

    <h1 class="text-center text-light fs-2">TABLA</h1>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@mdo</td>
          <td>
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>add</mat-icon>
            </button>
          </td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
          <td>
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
